<!DOCTYPE html>
<html>
  <head>
    <title>Employees</title>
  </head>
  <body>
    <div>
      <h2>Add New Employee</h2>
      <div class="container">
      <form [formGroup]="contactForm" (submit)="onSubmit()" >
        <div class="form-group">

              <mat-form-field >
                <mat-label>Name</mat-label>
                <input matInput formControlName="empName">
              </mat-form-field>

              <mat-form-field >
                <mat-label>Surname</mat-label>
                <input matInput formControlName="empSurname">
              </mat-form-field>

              <mat-form-field >
                <mat-label>Job Position</mat-label>
                <input matInput formControlName="empPosition">
              </mat-form-field> 
              
              <mat-form-field >
                <mat-label>Age</mat-label>
                <input matInput type="number" class="example-right-align" formControlName="empAge">

              </mat-form-field>
              <button mat-raised-button  type="submit" color="accent">
                <i class="material-icons">save</i>
              </button>
          </div>    
        </form>
      </div>
    </div>
  </body>
</html>